:root {
    --font: 'Rowdies', cursive;
}
body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    height: 150px;
}
.header {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 150px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}
.menu li {
    font-size: 25px;
    list-style: none;
}
.menu a {
    
    color: black;
    text-decoration: none;
    font-family: var(--font);
}
.menu a:hover {
    color: red;
}
.banner {
    text-align: center;
    background-image: url('images/1644339881512.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 1600px;
}
.banner p {
font-size: 30px;
color:#000;
font-family: var(--font);
}
footer {
    display: flex;
    justify-content: center !important;
    background-color: #000;
}
.footer {
    text-align: center;
    color: #ccc;
    line-height: 50px;
    font-family: var(--font);
}
.footer h2 {
    font-size: 30px;
}
.footer h3 {
    font-size: 25px;
}
.footer a {
    color: #ccc;
    text-decoration: none;
}
.area--rodape {
    display: flex;
    align-items: center;
    margin-left: 30%;
}
.footer img {
    width: 100px;
}
.footer span {
    font-size: 18px;
}


@media (min-width:240px) and (max-width:479px) {
    header img {
        width: 120px;
    }
    .menu {
        margin-right: 15px;
    }
    .menu li {
        font-size: 15px;
    }
    .banner {
        height: 600px;
    }
    .banner p {
        font-size: 15px;
        padding: 15px;
        }
    .footer {
        line-height: 30px;
    }
    .footer h2 {
        font-size: 15px;
    }
    .footer h3 {
        font-size: 13px;
    }
    .footer img {
        width: 80px;
    }
    .footer span {
        font-size: 13px;
    }
}


@media (min-width:480px) and (max-width:1079px) {
    .menu {
        margin-right: 40px;
    }
    header img {
        width: 140px;
    }
    .menu li {
        font-size: 20px;
        
    }
    .banner p {
        font-size: 20px;
        padding: 15px;
    }
    .banner {
        height: 700px;
    }
    .footer {
        line-height: 40px;
    }
    .footer h2 {
        font-size: 20px;
    }
    .footer h3 {
        font-size: 15px;
    }
    .footer img {
        width: 80px;
    }
    .footer span {
        font-size: 15px;
    }
    
}


@media (min-width:1080px) and (max-width:1619px) {
    .banner p {
        font-size: 25px;
        padding: 15px;
    }
    .banner {
        height: 1400px;
    }
}
