:root {
    --font: 'Lato', sans-serif;
}
body {
    margin:0;
    padding:0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.header .area--foto {
    margin-right: 40px;
    
}
.area--foto img {
    box-shadow: 15px 10px 10px rgb(75, 67, 67);
}
.header .area--title {
    margin-left: 40px;
    font-family: var(--font);
    text-shadow: 10px 5px 8px rgb(75, 67, 67);
}
.area--texto {
    
    line-height: 30px;
    margin-top: 10%;
    margin-left: 30px;
}
.area--texto h1 {
    font-size: 35px;
    font-family: 'Rowdies', cursive;
}
.area--texto p {
    font-size: 25px;
    font-family: var(--font);
    font-weight: bold;
    padding: 10px;
}
.area--img {
    display: flex;
    justify-content: center;
}
.area--audio {
    display: flex;
    justify-content: center;
}
.area--texto .dialog {
    text-align: center;
}
.area--texto h1 {
    text-align: center;
}
h3 {
    font-size: 20px;
    text-align: right;
    font-family: 'Rowdies', cursive;
    margin-right: 10%;
    margin-top: 10%;
}


@media (min-width:240px) and (max-width:479px) {
    .header {
        padding-top: 20px;
    }
    .header .area--foto {
        margin-right: 20px;
        
    }
    .area--foto img {
        width: 130px;
    }
    .header .area--title {
        margin-left: 0px;
    }
    .area--title h1 {
        font-size: 15px;
    }
    .area--texto {
        line-height: 23px;
        margin-top: 0;
        margin-left: 0;
    }
    .area--texto h1 {
        font-size: 20px;
    }
    .area--texto p {
        font-size: 18px;
        padding: 10px;
    }
    .area--img img {
        width: 160px;
    }
    h3 {
        font-size: 15px;
        margin-right: 10%;
        margin-top: 10%;
    }
}


@media (min-width:480px) and (max-width:1079px) {
    .header {
        padding-top: 20px;
    }
    .header .area--foto {
        margin-right: 20px;
        
    }
    .area--foto img {
        width: 160px;
    }
    .header .area--title {
        margin-left: 0px;
    }
    .area--title h1 {
        font-size: 20px;
    }
    .area--texto {
        line-height: 23px;
        margin-top: 0;
        margin-left: 0;
    }
    .area--texto h1 {
        font-size: 25px;
    }
    .area--texto p {
        font-size: 20px;
        padding: 10px;
    }
    .area--img img {
        width: 200px;
    }
    h3 {
        font-size: 18px;
        margin-right: 10%;
        margin-top: 10%;
    }
}


@media (min-width:1080px) and (max-width:1619px) {
    .area--img img {
        width: 600px;
    }
}